<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Fun Facts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C46E8F1C1C5C3FF80048614E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C46E8F351C5C3FF90048614E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C46E8F401C5C3FF90048614E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
